@import "reset";
@import "fonts";
@import "vars";

* {
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: $darkBackgroundColor;
  font-family: Montserrat;
  font-style: normal;
}

@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/login";
@import "blocks/title";
@import "blocks/btn";
@import "blocks/solutions";
@import "blocks/strategy";
@import "blocks/designers";
@import "blocks/about";
@import "blocks/pricing";
@import "blocks/touch";
@import "blocks/brandname";
@import "blocks/footer";
