@import "reset";
@import "fonts";
@import "vars";

* {
  text-decoration: none;
}

body {
  background-color: $darkBackgroundColor;
  font-family: Montserrat;
  font-style: normal;
}

@import "blocks/container";
@import "blocks/header";
