.about {
}
.title {
}
.about__title {
  margin-top: 224px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.title__inner {
}
.subtitle {
}
.about__subtitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;

}
.text {
}
.about__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.about__inner {
  display: flex;

}
.about__video-inner{
  margin-top: 96px;
  border: 1px solid #fff;
  width: 592px;
}
.about__video-wrapper{
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.about__video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

}
.info {
  margin-left: 125px;
  margin-top: 96px;
}
.about__headeline {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.info__title {
  margin-top: 63px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;

}
.info__subtitle {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.info__items {
}
.info__item {
  margin-top: 50px;
  display: flex;
}
.info__img {
}
.info__item-inner {
  margin-left: 20px;
}
.info__item-title {
  max-width: 227px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.info__item-subtitle {
  max-width: 227px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
