.btn {
  padding: 15px 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #23a6f0;
  border: 1px solid #23a6f0;
  box-sizing: border-box;
  border-radius: 37px;
}
.btn:hover {
  border: 1px solid #1480be;
}
