.footer{
  display: flex;
}
.info__item{font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  
  letter-spacing: 0.2px;
  
  /* light-text-color */
  
  color: #FFFFFF;}
.legal__item{font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.2px;

/* light-text-color */

color: #FFFFFF;}
.features__item{font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.2px;

/* light-text-color */

color: #FFFFFF;}
.resources__item{font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.2px;

/* light-text-color */

color: #FFFFFF;}
.subscribe__item{font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.2px;

/* light-text-color */

color: #FFFFFF;}