.strategy {
}
.title {
}
.strategy__title {
  margin-top: 293px;
}
.title__inner {
}
.subtitle {
}
.strategy__subtitle {
  max-width: 435px;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.text {
}
.strategy__text {
  max-width: 470px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.strategy__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 30px;
}
.strategy__item {
  max-width: 328px;
  min-height: 139px;
  display: flex;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 2px;
}
.strategy__img {
  margin-left: 20px;
  margin-top: 35px;
}
.strategy__description {
  max-width: 213px;
  margin-left: 20px;
  margin-top: 35px;
}
.strategy__item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.strategy__item-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
