.touch{
}
.touch__title{

}
.touch__subtitle{
  margin-top: 253px;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.touch__text{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.touch__items{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.touch__item{
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 40px;
  width: 328px;
  height: 343px;
  background: #FFFFFF;
}

.touch__item:hover{
  left: 0;
  height: 403px;
  // transform: scale(1.2);
  // height: 403px;
  // padding: 100px 0;
  background: rgb(107, 120, 128);
  transform: translateY(-30px)

}

.touch__item-img{

}
.touch__item-ico{

}
.touch__item-mail{
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}

.touch__item-title{
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}
.touch__btn{
  margin-top: 15px;
  color: #23A6F0;
  background: #FFFFFF;
}